@mixin transition($property: all, $duration: 0s, $timing-function: ease, $delay: 0s) {
  -webkit-transition: $property $duration $timing-function $delay;
     -moz-transition: $property $duration $timing-function $delay;
      -ms-transition: $property $duration $timing-function $delay;
       -o-transition: $property $duration $timing-function $delay;
          transition: $property $duration $timing-function $delay;
}