@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$font-stack: 'Inconsolata', monospace;
$back-colour: #ffffff;
$fore-colour: #2a363b;

body {
  margin: 0;
  background: $back-colour;
  background-size: cover;
  color: $fore-colour;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#presence-links {
  text-align: center;
  padding: 0;
  font: 2em $font-stack;
  font-size: 4.6vh;

  li {
    list-style-type: none;
    padding: 8%;
    padding: 2vh;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $fore-colour;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }

}

#presence-links:hover {

  li {
    opacity: 0.5;
  }

  li:hover {
    opacity: 1.0;
  }

}
